.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #16181c;
  }

  
  
  .left {
    flex: 1;
  }
  
  .address {
    font-size: 14px;
    position: relative;
    left: 6%;
    color: #a2a3a4;
  }
  
  .middle {
    flex: 2;
    display: flex;
    justify-content: center;
    
  }
  
  .menu {
    display: flex;
    gap: 20px;
    color: white;
  }

  .menu a{
    color: white;
    text-decoration: none;
  }
  
  .right {
    flex: 1;
    text-align: right;
  }
  
  .pill-button {
    background: transparent;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid white;
  }
  